@import "tailwindcss";

.light {
  --background: #f7f6f6;
  --foreground: #121212;
  --card-bg: #ffffff;
  --text-deactivated: #8E8E93;
  --arrow-disabled: #D7D7DB;
  --button-primary: #ee585a;
}

.dark {
  --background: #181818;
  --foreground: #fefefe;
  --card-bg: #2c2c2e;
  --text-deactivated: #636366;
  --arrow-disabled: #3A3A3C;
  --button-primary: #ee585a;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.2s ease;
}
